$('username_check').update('Sorry, the name <strong><%= escape_javascript(params[:username]) %></strong> has already been taken. Please choose another.');
$('username_check').show();
$('username').addClassName('error');
